// Colors
$color-primary: #8b0020;
$color-primary-light: #bf002c;
$color-primary-dark: #3f000e;

$color-secondary: #8b1300;

$color-tertiary: #8b0066;

$color-white: #fff;
$color-black: #000;

$color-grey-dark-1: #999;
$color-grey-dark-2: #777;
$color-grey-dark-3: #333;