.navigation {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 1rem 7rem;
  z-index: 15;

  animation: fadeIn;
  animation-delay: 1750ms;
  animation-duration: 2500ms;
  animation-fill-mode: backwards;

  // transition: background-color 200ms ease-in;

  @include respond(desk-big) {
    padding: 1rem 15rem;
  }
  @include respond(tab-land) {
    padding: 1rem 3.5rem;
  }
  
  &__logo {
    font-family: 'metropolis_1920';
    text-decoration: none;
    color: $color-white;
    font-size: 2.3rem;
  }

  &__buttons {
    margin-left: auto;
  }
  
  &__buttons-container {
    display: flex;
    list-style: none;

    & > * {
      margin-left: 1rem;
    }
  }
  
  &__links {
    list-style: none;
    text-decoration: none;
    color: $color-white;
  }

  &--scrolled {
    background-image: 
      linear-gradient(
        25deg,
        rgba(darken($color-primary-light, 12%), .50),
        rgba($color-primary-dark, .33)
      ),
      linear-gradient(
        $color-black,
        $color-black
      )
  }
}